@model ManyManyRelationInMVCDBFrist.Models.Student



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Student</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>
    
        </dl>
        <h4>Courses Taken</h4>
        <table class="table" border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th>
                    Course ID
                </th>
                <th>
                    Course Name
                </th>
                
            </tr>

            @foreach (var item in Model.Students_Courses)
            {
                <tr>
                    <td>
                        @item.Cours.ID
                    </td>
                    <td>
                       @item.Cours.Name
                    </td>
                </tr>
            }

        </table>

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
